* {
  margin: 0;
}

.App{
  background-color: #FAFAFA;
}

.app__header{
  position: sticky;
  top: 0;
  z-index: 1;
  border: 1px solid lightgray;
  background-color:white;
  padding: 20px;
  flex-direction: row;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.app__signup{
  display: flex;
  flex-direction: column;
}

.app__posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}


.app__postsRight{
  margin-left: 20px;
}
.app__announcement{
  padding: 20px;
}
